{{!-- CREATES  HEADER OF COMMENT SECTION SHOWING THE TITLE AND CONTENT OF THE POST--}}
<form class="form add-comment" data-id="{{post.id}}">
    <div class="form-group">
        <label for="postTitle"></label>
        <h2>{{post.postTitle}}</h2>
        <p>{{post.content}}</p>
        <p>Authored by {{post.user.username}}</p>
    </div>

    {{!-- CREATES THE SECTION THAT HOUSES COMMENTS --}}
    {{#if post.comments}}
        <section>
            <h4>
                Comments
            </h4>
            <div class="card">
                {{#each post.comments}}
                <p>{{comment}}</p>
                <p>{{user.username}}</p>
                {{/each}}
            </div>
        </section>
    {{/if}}
    {{!-- CREATES THE SECTION TO WRITE NEW COMMENTS --}}
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-input" id="comment" name="comment">{{comment}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
</form>

{{!-- LINKS THE COMMENTS.JS --}}
<script src="/js/comment.js"></script>